/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); */
/* color code #fcba44  o mejor 255,220, 92*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{  
    box-sizing: border-box;
}

.romper div *:nth-child(2){
    transform: translateY(500px);
    opacity: 0;
    transition: all 1s;
}

.backwards {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    text-shadow: 0.5em 0.5em 0 rgba(255,0,255,0.5), 
    0 00.25em 0 rgba(0,255,255,0.5),
     0 -0.3em 0 rgba(255,255,0,1);
     text-decoration: line-through;
     text-decoration-style: wavy;

     animation: glitch 1000ms infinite;
     transition: all 1s;
}
marquee{
    color: white;
}
.backwards marquee{
    -moz-transform: scale(0.8, -1);
    -webkit-transform: scale(0.8, -1);
    -o-transform: scale(0.8, -1);
    -ms-transform: scale(0.8, -1);
    transform: scale(0.8, -1);
    font-size: 3rem;
   opacity: 0.2;
   color: black;
}


@keyframes glitch {
    0%{
        text-shadow: 0.5em 0.5em 0 rgba(255,0,255,0.5), 
        0 00.25em 0 rgba(0,255,255,0.5),
        -0.5em -0.3em 0 rgba(255,255,0,1);
    } 
    49%{
        text-shadow: 0.5em 0.5em 0 rgba(255,0,255,0.5), 
        0 00.25em 0 rgba(0,255,255,0.5),
        -0.5em -0.3em 0 rgba(255,255,0,1);
    }
    50%{
        text-shadow: 0.75em 0.25em 0 rgba(255,0,255,0.5), 
        0.5em 00.50em 0 rgba(0,255,255,0.5),
        0 -0.6em 0 rgba(255,255,0,1);
    }
    99%{
        text-shadow: 0.75em 0.25em 0 rgba(255,0,255,0.5), 
        0.5em 00.50em 0 rgba(0,255,255,0.5),
        0 -0.6em 0 rgba(255,255,0,1);
    }
    100%{
        text-shadow: 0.25em 0.75em 0 rgba(255,0,255,0.7), 
        0 0.75em 0 rgba(0,255,255,0.3),
        0.60em 0.3em 0 rgba(255,255,0,8);
    }
}

body{
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    
}
footer{
    background-color: rgb(54, 54, 54);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
input{
    border: 1px dashed rgb(65, 65, 65);
    border-radius: 20px;
    border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    box-shadow: -2px 3px rgb(65, 65, 65);
    margin: 0 5px;
    outline: none;
}
textarea{
    border: 1px dashed rgb(65, 65, 65);
    border-radius: 20px;
    border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    box-shadow: -2px 3px rgb(65, 65, 65);
    margin: 0 5px;
    outline: none;
}
button{
    border: 1px solid black;
    border-radius: 20px;
    border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
    background-color: rgb(182, 182, 182);
    color:black;
    padding: 5px;
    box-shadow: -2px 3px black;
    outline: none;
}

.resbaladilla {
    background-color: pink;
}

a{
    color:rgb(54, 150, 134);
}
a:hover{
    color:rgb(43, 143, 209);
}
footer a{
    color: moccasin;
}
footer a:hover{
    color: pink;
}
hr{
    border: dashed  0.5px black
}
h1, h2, h3, h4, h5, h6{
    line-height: normal;
}
h1{
    margin: 10px 0;
}
 .container{
    max-width: 1200px;
    padding: 5px;
    flex-grow: 1;
    margin-top: 20px;
} 


.pista{
    font-family: monospace;
    font-size: 1rem;
    border: dashed 1px black;
    padding: 3px;
    color: salmon;
}
iframe{
    width:560px;
    height: 315px;
}
.amarillo{
    background-color: #fcba44;
}
.amarillo a {
    color: #5c2b74;
}
.violet{
    background-color: #9458af;
    color: ghostwhite;
}

.violet a {
    color: blanchedalmond;
}

.caja{
    border-top: 3px dashed black;
    border-left: 3px dashed black;
    border-radius: 20px;
    border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px;
}
.caja.desafio{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja.quitter{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.aventura-grafica{
    /* background-color: #ffff00; */
    position: relative;
    background-image: url("/images/total_rickall.png");
    background-size: cover;
    width: 950px;
    height: 550px;
}
.ag-jerry{
    /* background-color: rgb(60, 250, 12); */
    position:absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 320px;
    cursor: pointer;
}

/* Vista Mario */
.mario-body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    line-height: 0.4rem;
}
.mario-container{
    
    font-family: monospace;
    min-width: 600px;
    max-width: 1200px;
    padding: 5px;
    flex-grow: 1;
    margin-left: 10px;
   /*  border: 1px red solid; */
}

.mario-input{
    border: 1px dashed hotpink;
    /* border-radius: 20px; */
   /*  border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px; */
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 0 5px;
    outline: none;
    box-shadow: 0px 0px rgb(65, 65, 65);
}
.mario-button{
    border: 1px solid dodgerblue;
    border-radius: 20px;
    border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius:15px 255px;
    background-color:white;
    color:dodgerblue;
    padding: 5px;
    box-shadow: 0px 0px black;
    outline: none;
}
.txt-blue{
    color: dodgerblue;
    line-height: normal;
}
.txt-green{
    color: limegreen;
    line-height: normal;
}
.txt-pink{
    color: hotpink;
    line-height: normal;
}
.txt-pink a{
    color: hotpink;
    text-decoration: none;
    line-height: normal;
}

.txt-pink a:hover{
    color: purple;
    text-decoration: underline;
}
.linea{
    display: flex;
    justify-content: left;
    border: 1px solid blue;
}
.col1 {
    
    width:50%;
    border: 1px solid green;
}
.col2{
    width:20%;
    border: 1px solid palevioletred;
}
.col3{
    width:40%;
    border: 1px solid purple;
}

.timer{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: normal;
    text-align: center;
}

.warpzone-img{
    position: relative
}
.warpzone-op1{
    position: absolute;
    /* background-color: brown; */
    width: 60px;
    height: 120px;
    left: 70px;
    bottom:65px;
    cursor: pointer;
}
.warpzone-op2{
    position: absolute;
    /* background-color: brown; */
    width: 60px;
    height: 120px;
    left: 185px;
    bottom:65px;
    cursor: pointer;
}
.warpzone-op3{
    position: absolute;
    /* background-color: brown; */
    width: 60px;
    height: 120px;
    left: 306px;
    bottom:65px;
    cursor: pointer;
}



/* view: amarillo */

#cursor{
    /* background-color: black; */
    width: 50px;
    height: 50px;
    position: absolute;
}

.form-amarillo{
    z-index: 100;
}

#instrucciones{
    display: none;
}
#easterEgg01, #easterEgg02, #easterEgg03, #easterEgg04{
    display: none;
}

#easterEgg02 {
    align-self: center;
}
#xvalue{
    display: none
}
#yvalue{
    display: none
}

/* Gladiola */
.opciones{
    display: flex;
    justify-content: space-around;
}
.opcion-1, .opcion-2{
    padding: 20px;
}

/* mensajes FORM email */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{

    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.form textarea{

    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.form button{

    display: block;
    width: 100%;
    margin-left: 8px;
}
.form label{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* view: comments */
.mb{
    margin-bottom: 10px;
}
.comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.javascript img{
    width:50%;
}
/* texto blanco */
.txw{
    color:white;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table td, table th{
    border: 1px solid rgb(199, 199, 199);
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: lemonchiffon;}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:salmon;
    color: white;
  }

table th.blue {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:deepskyblue;
    color: white;
}


.nombre{
    color:salmon;
}

.pepinito{
    font-family: Arial, Helvetica, sans-serif;
}
.pepinito table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.pepinito table td, .pepinito table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.pepinito table tr:nth-child(even){background-color: #f2f2f2;}

.pepinito table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

/* DVD screen */

.bluescreen{
    display: block;
    background-color:blue;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

.body-bluescreen{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}

.bluescreen img{
    filter: invert(1);
    position:absolute;
    top: 0;
    left:0;
}


/* ------------------------------------------------------------------------------------------ */
  
@media (max-width: 480px){

    .container{
        max-width: 470px;
        flex-grow: 1;
    } 
    img {
        width: 95vw;
    }
    iframe{
        width:100%;
        height:auto;
    }
    p{
        font-size: 0.9rem;
    }
}