<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'El aguante'}) %>
<body class="body-bluescreen{">
  
 
<div class="container">

    <div class="warpzone">
      <div class="timer">Castigade por <span id="time">00:60</span> segundos!</div>
      <br>
      <div class="timer"><img src="https://media.giphy.com/media/8TJiD6E9PBFa8/giphy.gif" alt=""></div>

    </div>


</div>

  

  <%- include('partials/footer') %>
  <script src="../../js/warpzone.js"></script>

</body>
</html>