<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'So long sucker!'}) %>
<body>
  <header>
  
    </header>

<form action="/form">

  <label for="name">Pone tu nombre</label>
  <input type="text" id="name" name="name">

</form>

 

 
  <%- include('partials/footer') %>
</body>
</html>