<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Dos Caminos...'}) %>
<body>

<div class="container">

    <h1>Dos caminos se separan...</h1>
    
    <iframe src="https://www.youtube.com/embed/vG6MB257x-s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h2>Elegí tu camino:</h2>
    <br>
    <div class="opciones">
        <div class="opcion-1">
            <h3><a href="/amarillo">Marge</a></h3>
        </div>
        <div class="opcion-2">
            <h3><a href="/javascript">"Los que no quieran oir el poema"</a></h3>
        </div>
    </div>
    
   
   
</div>

<%- include('partials/footer') %>

</body>
</html>