<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'ohh Weeeee!'}) %>
<body>

<div class="container">
  <h1>ohh Weeeee! Pasaste el primero!!!</h1>
  <p>y sumaste 50 pts</p>
  <img src="https://nerdist.com/wp-content/uploads/2019/07/rick-morty-poopy-butthole-zodiac.jpg" alt="">

  <p>Datos que serán de vital importancia:</p>
  <ul>
      <li>Si, todavia tengo cable aunque solo mire 3 canales: Fox (aunque ya cambió de nombre), Comedy Central y Vorterix.</li>
      <li>Mi top 4 de dibujitos: Los <span>S</span>impsons, South Park, BoJack Horseman y Rick and Morty.</li>
      <li>Los simpsons es el unico programa que tolero en castellano (aparte de ALF)</li>
      <li>Mi capitulo preferido de South Park es: The Hobbit. Wendy es todo lo q<span>u</span>e esta bien.</li>
      <li>Me se los primeros 10 minutos de diálogo de "la primera palabra de maggie".</li>
      <li>También el dis<span>c</span>urso del barrio chino que Homero le hace a Marge en el capitulo de Homero es maestro.</li>
      <li>No tengo peli preferida. Me gustan muchas pero la mejor batman, es la de lego.</li>
      <li>Me vi casi todas las peliculas de secundario yan<span>k</span>ee que se puedan encontrar.</li>
      <li>Nunca me gustó la historia sin fin ni leyenda pero amo beetlejuice y laberinto.</li>
      <li>No vi ninguna peli de volver al futuro entera y las de superheroes me aburrieron.</li>
      <li>Vi Breaking Bad. No v<span>i</span> Lost pero la mejor serie, para mi, es GoT aunque no me gusto el final.</li>
      <li>Tambien amo the O.C., <span>T</span>he Office y Brooklyn nine-nine.</li>
      <li>Banco mucho a te lo resumo y a historias innecesarias</li>
      <li><a href="/span">Moving on</a></li>
  </ul>

</div>
 
<%- include('partials/footer') %>
</body>
</html>