<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Thank you Mario!'}) %>
<body>

<div class="container">

    <h1>Acertaste!!! 🎉- mundo 5 nivel 3</h1>
    <!-- <h3 style="color:tomato">Con vos, ya suman %= allMario %> los que lo resolvieron </h3> -->
    <img src="../../images/thankyoumario.jpg" alt="">
    <br>
    <br>
    <hr>
    <h2>Click aqui para el <a href="/simpson">Desafio 4</a></h2>

</div>

<%- include('partials/footer') %>
</body>
</html>