<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Ray Stevens'}) %>
<body>


<div class="container">
  <div class="">
    <h1>Bienvenido/a/e</h1>

    <p>Buenas, si llegaste ac치 es porque seguro te pase la pagina yo, tipo "dale, dale probala" y aca estas.</p>
    <p>Que te puedo decir de los desafios, son preguntas, cosas que se pueden googlear capaz o capaz las podes resolver sin la ayuda de google. Yo jamas me voy a enterar c칩mo lo hiciste</p>
    <p>Qu칠 te podes encontrar? "desafios" que incluyen a los simpsons, algo de musica, SMB3, Rick and Morty, etc</p>

    <br>
    <h2>Bueno basta de ch치chara y arranquemos!</h2>
    <p>La idea es ir resolviendo problemas, desaf칤os, pruebas, preguntas, coso. </p>
    <p>No se bien cuantos son, porque lo voy cambiando todo el tiempo, pero si no te molesta boludear sin objetivo: adelante! 游때</p>
  </div>

  <div class="">
    <h2>Primero escribi tu nombre</h2>
    <h3>Si no escribis nada, se te asignara uno.</h3>
    

    <form action="/pruebas" method="POST" enctype="application/json">
    
        <input type="text" name="username">       
        <br>

        <h4>Ahora si, para entrar en los desafios abr칤 la puerta 游뛁</h4>
        <h2>Speak friend and enter</h2>
         <!-- Queres una pista? Ya te pones a ver LOTR a ver si aprendes algo. Y si te da mucha paja, bueno se escribe parecido a la fruta que se usa para tomar vino 游땖 Seria algo como esto en ingles: (游꼘 - 游눦) -->
        <input type="text" name="word">
        <button type="submit">enviar</button>

    </form>
  </div>
  <br>
<hr>
  <div class="">
    <h3>游뗷 No te da para perder tiempo en estas cosas?</h3>
    <p>Tranqui, te podes ir sin saber como terminaba todo esto. Te dejo un <a href="/solong">saludo</a></p>
  </div>
    
</div>

  <%- include('partials/footer') %>
</body>
</html>