<!DOCTYPE html>
<html lang="en">
    
<!-- Include Head -->
<%- include('partials/head', {title: 'The answer'}) %>
<body>

<div class="container javascript">
<!-- Querida Lisa -->
<!-- Al escribir esto estoy triste -->
<!-- Nuestro presidente fue derrocado y reemplazado -->
<!-- por el general javascript -->
    <script type="text/javascript">
        document.querySelector('.container').innerHTML = `<h3><i>Todos amamos a javascript, y a su glorioso régimen.</i></h3><h4 style="text-align:right"><i>Con Amor, niñita</i></h4><p> ⭐ Para este desafio te pido que derroques a javascript y a su glorioso regimen...</p><p> Bue capaz no es que lo podes derrocar pero seguro vas a encontrar la manera de deshabilitarlo.</p><p>Quizas, ni siquiera te haga falta si sabes como encontrar las claves del proximo desafio</p><br><img src="/images/marge.PNG" alt=""><br><p>PD: Eso te paso por no querer escuchar el poema de la tía Gladiola</p><p>Aunque si haces <a href="/gladiola">click aca</a> te doy una oportunidad de escucharlo, como Marge lo hubiera querido</p>`
     </script>
     
     <noscript>
         <p>Venis bien pero falta una parte mas</p>
         <p>cambia el color de fondo del body a negro</p>
         <p>y espera a que suceda la magia...</p>  

         <p class="txw">Ves lo que pasa cuando no queres escuchar el poema!!!</p> 
         <p class="txw">Imagino que no fue tan dificil, solo tenias que abrir el inspector de elementos.</p> 
         <p class="txw">O hacer los pasos de deshabilitar JS del navegador.</p> 
         <p class="txw">Lo que importa aca, son las iniciales.</p> 
         <p class="txw">Esas, que estan al principio de cada linea.</p> 
         <p class="txw">Todas juntas te dan la proxima ruta, o sea donde dice "/javascript", escribi la nueva palabra</p> 


    </noscript>
    
   
</div>

<%- include('partials/footer') %>

</body>
</html>