<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Mr Poopybutthole'}) %>
<body>
 
<div class="container">
  
    <h1>Bienvenide <span class="nombre"><%= username %></span>, este es tu primer desafío - Rick and Morty</h1>

    <form action="/poopy" method="POST" enctype="application/json">
      <p>En el campo de abajo tenes que completar el número de capitulos en los que aparece Mr. Poopybutthole</p>
        <p>Podes usar <a href="https://rickandmortyapi.com/">esta API</a> o ser bien vagales y googlearlo</p>
        <input type="number" name="episodes">
        <button type="submit">enviar</button>
    </form>
    <br>
    <hr>

    <br>
    <p>Por si no lo conoces (shame on you!)</p>
    <p>Te dejo una fotito</p>
    <img src="images/poopy_butthole_get.jpg" alt="hasta la temporada cuatro son seis pero no se en que momento de la serie estas leyendo esto, asi que te recomiendo consultar la API" title="En el alt esta la respuesta">

</div>
 

  <%- include('partials/footer') %>
  <script src="../../js/script.js"></script>
</body>
</html>