<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'So long sucker!'}) %>
<body>
  <header>
  
    </header>

  <h1>Bye quitter!</h1>
  <img src="https://4.bp.blogspot.com/_3FpVAwn7rIA/SSgyLfDYjsI/AAAAAAAAAEE/XvlRIS3ChuM/s320/gil.jpg" alt="">

 

 
  <%- include('partials/footer') %>
</body>
</html>