<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'SUPER MEGA desafío' }) %>


  <body>
    <div class="container">

 <!--    <p> Como sabes, esta página esta "alojada" en heroku. Si sabes como hacer un deploy en heroku sabes que los archivos realmente no estan ahi</p>
    <p>Y si no sabes podes averiguarlo. Llegaste tan lejos, seria una lastima que no puedas con esto</p>
    <p>La idea es que busques la ultima respuesta entre esos archivos</p>

    <h3>aca estan las pistas</h3>
    
    <div>
      <p>user: #EE82EE + Family name of Frodo & Bilbo</p>
    </div>
    
    <div>
      <p>repo_name:
        <a href="https://bojackhorseman.fandom.com/wiki/Ruthie_(Real_Character)"><img src="../../images/ruthie.PNG" width="200"alt=""></a>
      </p>
    </div>

    <div>
      <p>folder: *poner la carpeta*</p>
    </div> -->

    <p>Super mega desafio en construcción</p>
    
    <!-- foto de ruthie para que apunte a su nombre anterior -->
    <!-- puede ser un link a una weeky en donde muestra como se llamaba antes -->
    <!-- https://bojackhorseman.fandom.com/wiki/Ruthie_(Real_Character) -->
  </div>
  </body>

</html> 