<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Learn baby, learn'}) %>
<body>
 <div class="container">

   <h1>That's too bad</h1>

   <h2>No sabes tanto de Simpsons y música</h2>
   <h3>Te dejo las respuestas y algunos videos informativos:</h3>

   <div>
      <p>1 - ¿Qué banda toca en la peli de los simpsons?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RjU15bJbDhI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>2 - ¿Qué instrumento toca Lisa para atraer a las serpientes en el dia del garrote?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QwuieXeI0hc?start=53" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>3 - ¿De qué artista Homero grabó todas sus canciones de la radio?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pTC5_FyMG0s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>4 - ¿Qué artista ayuda a cavar para sacar a Bart del pozo?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J4fwbl5UCBk?start=171" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>
   
   <div>
      <p>5 - ¿Con que ciudad confunde Steven Tyler a Springfield cuando toca en la taverna de Moe?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Do9EQzAcnQw?start=31" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>6 - ¿A qué banda manda a matar el Sr. Burns en su cumpleaños?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3zoBJD0LcWs?start=35" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>7 - ¿A que banda real pertenece la canción original de "margerine" que Homero versiona con su banda sadgasm?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hOllF3TgAsM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>
   
   <div>
      <p>8 - ¿Qué cancion toca Smashing Pumpkins en hullabalooza?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JWHoMyn0fXY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>
   <div>
      <p>9 - ¿Qué 2 canciones grita Homero para que toquen los WHO?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/q6aYuChsuTc?start=99" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>

   <div>
      <p>10 - Cuando Bart y Milhouse van a un reci y Homero se queda esperando en el auto, ¿Qué banda fueron a ver?</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fiaWwjZS50s?start=81" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <hr>
</div>

 <%- include('partials/footer') %>
</body>
</html>