<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'The answer'}) %>
<body>

<div class="container">

    <h1>Congratulations! Ud si que sabe de la vida, y de libros o tal vez peliculas</h1>
    
    <iframe src="https://www.youtube.com/embed/aboZctrHfK8?start=87" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
    <a href="/gladiola"><h2>Segui al proximo desafio</h2></a>
    <br>
   
   
</div>

<%- include('partials/footer') %>

</body>
</html>