<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Violet'}) %>
<body class="violet">
  <header>
    <!-- Ah pero mira que curiose resultaste, tranqui por ahora no vas a encontrar nada aca -->
       
    </header>

<div class="container">

  <h1>Bueno, hasta aca llegamos!</h1>

<!--   <h3>¿Querés ver cuantos puntos hiciste? <a  href="/graciastotales">Click Aca</a></h3> -->

  <h3> Si te quedaste con ganas de tomar el otro camino de la tia Gladiola, podes hacerlo <a  href="/gladiola">aca</a></h3>
<!-- 
  <p>O podes cambiarlo todo por lo que hay en la caja, la caja</p>

  <a href="/supermegadesafio"><img src="../../images/la_caja.jpg" width="300px" alt=""></a> -->

  <!-- <hr>
  <p>Si tenes ganas también de dejar algun comentario</p>
  <p>o contar que te parecieron los desafios</p>
  

  <br>
  <h3>Lo podes hacer aca ↓</h3>
  <form class="comment-form" action="/comments" method="POST" enctype="application/json">
     
    <label class="mb">Nombre:</label>
    <input type="text" name="name" id="name" class="mb">
    
    <label class="mb">Email:</label>
    <input type="email" name="email" id="email" class="mb">
    
    <label class="mb">Comentario:</label>
    <textarea name="comment" id="comment" cols="30" rows="10" maxlength="500" class="mb"></textarea>
      
      <button type="submit" class="mb">enviar</button>
  </form>

  <hr>
 -->
<img src="../../images/mr_hankey_goodbye.gif" alt="Mr Hankey saying goodbye" width="200">

<p>Aca dejo mas boludeces para ver, aunque no son juegos... pero si no, no tengo donde mas mostrarlas jaja</p>

<ul>
  <li><a target="_blank" href="https://paolaescudero.github.io/cv/">Curriculum Web</a></li>
  <li><a target="_blank" href="https://youtu.be/xP5BhLNmCKQ">Video CV</a></li>
  <li><a target="_blank" href="https://youtu.be/DTiwt5Hugi0">Video del proyecto del curso full stack</a></li>
  <li><a target="_blank" href="https://web.archive.org/web/20091025145549/http://geocities.com/cartoonsdelos80/2index.html">Una página que hice en 2003</a> - Estaba hosteada en geocities XD</li>
  <li><a target="_blank" href="https://violettuts.wordpress.com/">Blog de tutoriales para PS</a> -  (2009-2011)</li>
  <li><a target="_blank" href="https://www.instagram.com/pola_rocks/">Pola Rocks IG</a> - Sandeces Gráficas</li>
</ul>


</div>

  <%- include('partials/footer') %>

  <!-- <script src="/js/amarilloScript.js"></script> -->
</body>

</html>