<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Violet'}) %>
<body class="violet">
  <header>
    <!-- Ah pero mira que curiose resultaste, tranqui por ahora no vas a encontrar nada aca -->
       
    </header>

<div class="container">

  <h1>Bueno, hasta aca llegamos!</h1>

  <h3>¿Querés ver cuantos puntos hiciste? <a  href="/graciastotales">Click Aca</a></h3>

  <h3> O por ahi te quedaste con ganas de tomar el otro camino de la tia Gladiola, podes hacerlo <a  href="/gladiola">aca</a></h3>

  <hr>
  <p>Si tenes ganas también de dejar algun comentario</p>
  <p>o contar que te parecieron los desafios</p>
  

  <br>
  <h3>Lo podes hacer aca ↓</h3>
  <form class="comment-form" action="/comments" method="POST" enctype="application/json">
     
      <input type="text" name="name" id="name" class="mb">
      <input type="email" name="email" id="email" class="mb">
      <textarea name="comment" id="comment" cols="30" rows="10" maxlength="500" class="mb"></textarea>
      
      <button type="submit" class="mb">enviar</button>
  </form>

  <hr>



</div>

  <%- include('partials/footer') %>

  <!-- <script src="/js/amarilloScript.js"></script> -->
</body>

</html>