<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'you suck!' }) %>

  <body>
    <div class="container">
      <h1>Wrong Answer</h1>

      <h2>Nooooooo, la respuesta esta mal!</h2>
      <h3>Una lástima Bro!</h3>
      <hr>
      <h4 class="pista">Te dejo una pista: <%= pista %>
      </h4>
      <hr>
      <p>Tambien te dejo un consejo del maestro Cartman</p>
      <h3>Usa el 'Método de los blancos'</h3>
      <a href="https://youtu.be/S3t5JJJe3bg" target="_blank"><img src="../../images/cartman.jpg" alt="cartman Maestro" title="si no lo conoces, te dejo un video" width="60%"></a>
    </div>

    <%- include('partials/footer') %>
  </body>

</html>