
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-49RKJMQ9W7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-49RKJMQ9W7');
    </script>

        <link rel="stylesheet" href="/css/app.css">
    <title><%= title  %> </title>
    <meta property="og:title" content="Corre Cachetes Corre">
	<meta property="og:description" content="What we do for fun">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Ray Stevens">
	<meta property="og:image" content="https://i.pinimg.com/originals/0b/ed/33/0bed3318b7c252fe085360d090f89f04.jpg">
	<meta property="og:url" content="https://correcachetescorre.herokuapp.com/">
</head>